	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ID03_My_Trips___Destination {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* header wording current menu item */
	#Add_Trip {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
#current_menuItem {
    color:  #1A237E;
}

/* inspirational image */
	#Inspirational_Image {
		position: absolute;
		width: 960px;
		height: 463px;
		left: 60px;
		top: 390px;
		overflow: visible;
	}
	#Rectangle_Image {
		position: absolute;
		width: 960px;
		height: 463px;
		left: 0px;
		top: 0px;
		background-color: rgba(225,222,222,1);
		border: 0;
		overflow: hidden;
	}
	#Icon_ionic_md_images {
		position: absolute;
		width: 159px;
		height: 136px;
		left: 400px;
		top: 191px;
		overflow: visible;
	}
    #image_icon {
    color: grey;
    font-size: 85px;
    }  

/* content of the screen */
	#From_and_where_to {
		position: absolute;
		left: 60px;
		top: 912px;
		overflow: visible;
		width: 677px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: #000000;
	}
	#Text_Field_from_Destination {
		position: absolute;
		width: 510px;
		height: 83px;
		left: 60px;
		top: 1021px;
		overflow: visible;
	}
.destination {
    font-size: 26pt;
    width: 400px;
    height: 83px;
    background: #F3F2F9;
    padding-left: 15px;
    outline: none;
}

#location_icon {
    color: grey;
    font-size: 45px;
}
	#Text_Field_to_Destination {
		position: absolute;
		width: 425px;
		height: 83px;
		left: 565px;
		top: 1021px;
		overflow: visible;
	}
	#Text_Field_from_Date {
		position: absolute;
		width: 460px;
		height: 83px;
		left: 60px;
		top: 1176px;
		overflow: visible;
	}
#calendar_icon_little {
    color: grey;
    font-size: 45px;
}
	
	#Text_Field_to_Date {
		position: absolute;
		width: 425px;
		height: 83px;
		left: 565px;
		top: 1176px;
		overflow: visible;
	}

.datepicker {
    font-size: 26pt;
    width: 400px;
    height: 83px;
    background: #F3F2F9;
    padding-left: 15px;
    outline: none;
}
#first_destination {
		position: absolute;
		left: 60px;
		top: 500px;
		overflow: visible;
		width: 677px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: grey;
        display: none;
	}
#second_destination {
		position: absolute;
		left: 60px;
		top: 912px;
		overflow: visible;
		width: 677px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: grey;
        display: none;
	}
#hide_secondDestination {
    display: none;
}

    #Add_destination {
		position: absolute;
		left: 771px;
		top: 1205px;
		overflow: visible;
		width: 250px;
        height: 5px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-size: 35px;
		color: #534BAE;
	}
#add_destination_icon {
    font-size: 40px;
    margin-top: 77px
}


/* css displayed calendar if you click in the calendar input fields */
 .ui-datepicker {
    background: white;
    border: 1px solid #555;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 50px;
  height: 10px;
  text-indent: 9999px;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-left: -20px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 15px;
  margin-top: 30px;
  
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
 
}
.ui-datepicker-next {
  float: right;
  margin-top: 30px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.ui-datepicker-title {
  text-align: center;
  font-size: 35px;
  color:black;
  margin-top: 10px;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 25px;
  color: rgba(112,112,112,1);
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 5px;
  margin-left: 30px;
  font-size: 35px;
  font-weight: 100;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 110px;
  font-size: 35px;
  
}

/* current day is green and bold */
.ui-state-highlight {
  color: green;
  font-weight: bold;
}

/* marked day is white and the backgroundcolor is violet */
.ui-state-active {
  color: white;
  background: #534BAE;
}

/* timeline */
	#Icon_ionic_md_add_circle_outli {
		position: absolute;
		width: 37px;
		height: 37px;
		left: 722px;
		top: 1411px;
		overflow: visible;
	}
	.Pfad_989 {
		overflow: visible;
		position: absolute;
		width: 19px;
		height: 19px;
		left: 9.063px;
		top: 9.063px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Pfad_990 {
		overflow: visible;
		position: absolute;
		width: 37px;
		height: 37px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Timeline {
		position: absolute;
		width: 905px;
		height: 84px;
		left: 85px;
		top: 288px;
		overflow: visible;
	}
	.Linie_3 {
		overflow: visible;
		position: absolute;
		width: 880px;
		height: 5px;
		left: 15px;
		top: 15px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Start {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	.lets_go {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 885px;
		top: 5px;
	}
	.company {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 704px;
		top: 5px;
	}
	.type {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 528px;
		top: 5px;
	}
	.Transportation {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 352px;
		top: 5px;
	}
	.destination_6 {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 176px;
		top: 5px;
	}
	.Linie_4 {
		overflow: visible;
		position: absolute;
		width: 176px;
		height: 5px;
		left: 15.5px;
		top: 15.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Destination {
		position: absolute;
		left: 90px;
		top: 31px;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-size: 40px;
		color: #FFA726;
	}
	.Destination_big {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 176px;
		top: 0px;
	}