/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-type-unselected {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
/* header wording of the current menu item */
	#add-trip {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
    #current-menu-item {
        color: #1A237E;
    }  
/* inspirational image */
    #insp-type {
        position: absolute;
        left: 250px;
        top: 365px;
    }
    .insp-img-4{
        width: 630px;
    }
	
/* text of "Waht are you doing?"*/
	#what-are-you-doing {
		position: absolute;
		left: 85px;
		top: 801px;
		overflow: visible;
		width: 369px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
		letter-spacing: 0.095px;
	}

/*buttons to enter the type of your trip */
/* city trip */
	.citytrip-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 200px;
		top: 890px;
		background-color: #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
	.citytrip-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 200px;
		top: 890px;
		background-color: #FFA726;
		border-radius: 3px 3px 3px 3px;
		overflow: hidden;
        
	}
	#city-trip {
		position: absolute;
		left: 236px;
		top: 1060px;
		overflow: visible;
		width: 76px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: #FFFFFF;
	}
	#city-icon {
		position: absolute;
		width: 88px;
		height: 70px;
		left: 255px;
		top: 970px;
		overflow: visible;   
	}
/* active trip */
	.active-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 456px;
		top: 890px;
		background-color: #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
    .active-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 456px;
		top: 890px;
		background-color: #FFA726;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
	}
	#Active {
		position: absolute;
		left: 505px;
		top: 1060px;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: #FFFFFF;
	}
	#active-icon {
		position: absolute;
		width: 52.563px;
		height: 70px;
		left: 514px;
		top: 979px;
		overflow: visible;
	}
/* backpacking trip */
	.backpacking-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 712px;
		top: 890px;
		background-color:  #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
	.backpacking-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 712px;
		top: 890px;
		background-color:  #FFA726;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: none;
	}
	#Backpacking {
		position: absolute;
		left: 728px;
		top: 1060px;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 23px;
		color: #FFFFFF;
	}
	#backpacking-icon {
		position: absolute;
		width: 45.692px;
		height: 52px;
		left: 768px;
		top: 975px;
		overflow: visible;
	}
/* wellness trip */
	.wellness-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 200px;
		top: 1130px;
		background-color:  #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
    .wellness-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 200px;
		top: 1130px;
		background-color: #FFA726;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: none; 
        
	}
	#Wellness {
		position: absolute;
		left: 230px;
		top: 1300px;
		overflow: visible;
		width: 82px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: #FFFFFF;
	}
	#wellness-icon {
		position: absolute;
		width: 48px;
		height: 48px;
		left: 255px;
		top: 1210px;
		overflow: visible;
	}
/* beach trip */
	.beach-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 456px;
		top: 1130px;
		background-color: #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
	.beach-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 456px;
		top: 1130px;
		background-color: #FFA726;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
	}
	#Beach {
		position: absolute;
		left: 505px;
		top: 1300px;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: #FFFFFF;
	}
	#beach-icon {
		position: absolute;
		width: 45px;
		height: 36px;
		left: 517px;
		top: 1210px;
		overflow: visible;
	}
/* roadtrip */
	.roadtrip-rect {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 712px;
		top: 1130px;
		background-color: #5C73B5;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
        box-shadow: 4px 4px 5px #A2A2A2;
	}
    .roadtrip-rect-clicked {
		position: absolute;
		width: 168px;
		height: 213px;
		left: 712px;
		top: 1130px;
		background-color: #FFA726;
		border-radius: 3px 3px 3px 3px;
		border: 0;
		overflow: hidden;
    
	}
	#Roadtrip {
		position: absolute;
		left: 745px;
		top: 1300px;
		overflow: visible;
		width: 78px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: #FFFFFF;
	}
	#roadtrip-icon {
		position: absolute;
		width: 45px;
		height: 36px;
		left: 773px;
		top: 1210px;
		overflow: visible;
	}
    .type-icon {
        margin-top: -35px;
        margin-left: -22px;
        width: 100px;
        height: 100px;
    }

/*timeline*/
	#timeline {
		position: absolute;
		width: 905px;
		height: 84px;
		left: 85px;
		top: 288px;
		overflow: visible;
	}
	.linie-3 {
		overflow: visible;
		position: absolute;
		width: 880px;
		height: 5px;
		left: 15px;
		top: 15px;
		transform: matrix(1,0,0,1,0,0);
	}
	.start {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	.lets-go {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 885px;
		top: 5px;
	}
	.company {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 704px;
		top: 5px;
	}
	.type {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 528px;
		top: 1px;
	}
	.transportation {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 352px;
		top: 5px;
	}
	#type {
		position: absolute;
		left: 501px;
		top: 31px;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: #FFA726;
	}
	.destination {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 176px;
		top: 5px;
	}
	.linie-4 {
		overflow: visible;
		position: absolute;
		width: 528px;
		height: 5px;
		left: 15.5px;
		top: 15.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	.destination {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 176px;
		top: 0px;
	}
	.transportation-big {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 352px;
		top: 0px;
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}