/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#add-trip-company {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/*header wording current menu item*/
	#add-trip {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item highlighted */
#current-menu-item {
    color: #1A237E;
}

/* inspirational image placeholder */
#insp-company{
    position: absolute;
    left:95px;
    top:370px;
}
.insp-img-5{
    width: 950px;
}

/* screen content - question */
#travelling-alone-company {
		position: absolute;
		width: 752px;
		height: 53px;
		left: 85px;
		top: 891px;
		overflow: visible;
	}
	#alone-company {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 753px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}

/* radio buttons */
    #check-alone {
		overflow: visible;
		position: absolute;
		left: 196px;
		top: 1035px;
        stroke:  #FFA726;
        stroke-width:6px;
		transform: matrix(1,0,0,1,0,0);
	}
	  #check-with {
		overflow: visible;
		position: absolute;
		left: 196px;
		top: 1182px;
        stroke:  #FFA726;
        stroke-width:6px;
		transform: matrix(1,0,0,1,0,0);
	}

/* answer text alone */
	#alone- {
		position: absolute;
		left: 280px;
		top: 1039px;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.871);
	}

/* answer text with a friend*/
	#with- {
		position: absolute;
		left: 280px;
		top: 1185px;
		overflow: visible;
		width: 70px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.871);
	}
	#_friend {
		position: absolute;
		left: 418px;
		top: 1169px;
		overflow: visible;
		width: 107px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,0.6);
	}

    /* input field for friend's name */
    #friend-name {
        font-size: 26pt;
        width: 500px;
        height: 83px;
        border: none;
        border-width: 1px;
        background-color: #F3F2F9;
        padding-left: 15px;
        outline: none;
    }

/* timeline */
	#timeline {
		position: absolute;
		width: 905px;
		height: 84px;
		left: 85px;
		top: 288px;
		overflow: visible;
	}
	.linie-3 {
		overflow: visible;
		position: absolute;
		width: 880px;
		height: 5px;
		left: 15px;
		top: 15px;
		transform: matrix(1,0,0,1,0,0);
	}
	.start {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	.lets-go {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 885px;
		top: 5px;
	}
	.company {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 704px;
		top: 0px;
	}
	.type {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 528px;
		top: 1px;
	}
	.transportation {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 352px;
		top: 5px;
	}
	#company {
		position: absolute;
		left: 635px;
		top: 31px;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color:  #FFA726;
	}
	.destination {
		position: absolute;
		overflow: visible;
		width: 20px;
		height: 20px;
		left: 176px;
		top: 5px;
	}
	.linie-4 {
		overflow: visible;
		position: absolute;
		width: 704px;
		height: 5px;
		left: 15.5px;
		top: 15.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	.destination {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 176px;
		top: 0px;
	}
	.transportation-big {
		position: absolute;
		overflow: visible;
		width: 30px;
		height: 30px;
		left: 352px;
		top: 0px;
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}


