/* floating action button */

.fab {
   width: 150px;
   height: 150px;
   background-color: #FFA726;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #666;
   z-index: 1;
   
   font-size: 140px;
   color: white;
   text-align: center;
   
   position: fixed;
   top: 1340px;
   left: 860px;
}

.fab i {
    font-size: 90px;
}
