/*header*/
	.App_bar {
		position: absolute;
		width: 1080px;
		height: 229px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
    .rect_header {
        width: 1086px; 
        height: 400px;
        fill:  #1A237E;
    }
	.FliyingCarpet {
		position: absolute;
		left: 449.5px;
		top: 32px;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
