/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
        font-family:Roboto;   
}
	#ID01_Home {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	
/* current menu item is highlighted */
#current_menuItem {
    color: #1A237E;
}

/* header */
	#App_bar {
		position: absolute;
		width: 1080px;
		height: 229px;
		left: 0px;
		top: 0px;
		overflow: visible;
        background: #1A237E;
	}

	#app_bar {
		position: absolute;
		width: 1080px;
		height: 229px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
 
	#FliyingCarpet {
		position: absolute;
		left: 449px;
		top: 32px;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
        font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#Hello {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 167px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
	#Profile_picture {
		position: absolute;
		overflow: visible;
		width: 155px;
		height: 155px;
		left: 843px;
		top: 35px;
	}

#profile_img {
    width: 170px;
    height: 170px;
}

/* carrousel with all your created trips */
    #carrousel-home{
        position: absolute;
        top:320px;
        z-index: 6;
}
	.Rectangle_Carrousel {
		position: absolute;
        left: 2px;
		top: 232px;
		background-color: #EBEDEE;
		border: 0;
		overflow: hidden;
         width: 1080px;
		height: 490px;
	}
.My_Trips_Carrousel1{
        width: 1080px;
		height: 460px;

}
	#My_Trips {
		position: absolute;
		left: 60px;
		top: 250px;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: #1A237E;
	}
/* Title Upcoming datelines */
	#Upcoming_Deadlines {
		position: absolute;
		left: 60px;
		top: 750px;
		overflow: visible;
		width: 381px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: #1A237E;
        z-index: 6;
	}


/* task 1 */
	#Task_list1 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 829px;
        box-shadow: 5px 5px 15px #D8D6D6;  
		overflow: visible;
	}


/* task 2 */
	#Task_list2 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 1065px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6; 
	}

/* task 3 */
	#Task_list3 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 1301px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6; 
	}


/* general css for tasks */
	.Task_Headline {
		position: absolute;
		left: 255px;
		top: 14px;
		overflow: visible;
		width: 377px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,0.871);
	}
	
    .Task_Description {
		position: absolute;
		left: 255px;
		top: 79px;
		overflow: hidden;
		width: 451px;
		height: 85px;
		line-height: 40px;
		margin-top: -7.5px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.18px;
	}
	.Rectangle_Date {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
    .Rectangle_Date_Check {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #BCBCBC;
		border: 0;
		overflow: hidden;
	}
	.Task_Date {
		position: absolute;
		left: 21px;
		top: 25px;
		overflow: visible;
		width: 147px;
        line-height:75px; 
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
        font-family: Roboto;
		color: rgba(255,255,255,1);
	}


/* task not completed --> empty circle */
	.check_no {
		overflow: visible;
		position: absolute;
		left: 870px;
		top: 21px;
        height: 195px;
        stroke:  #534BAE;
        stroke-width:4px;
        font-size: 60px;
        color: #534BAE;
	}
