/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
        font-family:Roboto;   
}
	#home-screen {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	
/* current menu item is highlighted */
#current-menu-item {
    color: #1A237E;
}

/* header */
	#app-bar {
		position: absolute;
		width: 1080px;
		height: 229px;
		left: 0px;
		top: 0px;
		overflow: visible;
        background: #1A237E;
	}

	#app_bar {
		position: absolute;
		width: 1080px;
		height: 229px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
 
	#FliyingCarpet {
		position: absolute;
		left: 449px;
		top: 32px;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		text-align: left;
        font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#hello {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 167px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
	#profile-picture {
		position: absolute;
		overflow: visible;
		width: 155px;
		height: 155px;
		left: 843px;
		top: 35px;
	}

#profile-img {
    width: 170px;
    height: 170px;
}

/* carrousel with all your created trips */
    #carrousel-home{
        position: absolute;
        top:320px;
        z-index: 6;
}
	.rectangle-carrousel {
		position: absolute;
        left: 2px;
		top: 232px;
		background-color: #EBEDEE;
		border: 0;
		overflow: hidden;
         width: 1080px;
		height: 490px;
	}
.my-trips-carrousel1{
        width: 1080px;
		height: 460px;

}
.trip-name {
    overflow: visible;
    position: absolute;
    left: 35px;
    top: 10px;
    font-size: 50px;
    color: white;
    width:50px;
    height: 100px;
    z-index: 4;
}
.trip-date {
    overflow: visible;
    position: absolute;
    left: 35px;
    top: 69px;
    font-size: 30px;
    color: white;
    width:50px;
    height: 100px;
    z-index: 4;
}
	#my-trips {
		position: absolute;
		left: 60px;
		top: 250px;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: #1A237E;
	}
/* Title Upcoming datelines */
	#upcoming-deadlines {
		position: absolute;
		left: 60px;
		top: 750px;
		overflow: visible;
		width: 381px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: #1A237E;
        z-index: 6;
	}


/* task 1 */
	#task-list-1 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 829px;
        box-shadow: 5px 5px 15px #D8D6D6;  
		overflow: visible;
	}


/* task 2 */
	#task-list-2 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 1065px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6; 
	}

/* task 3 */
	#task-list-3 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 60px;
		top: 1301px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6; 
	}


/* general css for tasks */
	.task-headline {
		position: absolute;
		left: 255px;
		top: 14px;
		overflow: visible;
		width: 377px;
		white-space: nowrap;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,0.871);
	}
	
    .task-description {
		position: absolute;
		left: 255px;
		top: 79px;
		overflow: hidden;
		width: 451px;
		height: 85px;
		line-height: 40px;
		margin-top: -7.5px;
		text-align: left;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.18px;
	}
	.rectangle-date {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
    .rectangle-date-check {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #BCBCBC;
		border: 0;
		overflow: hidden;
	}
	.task-date {
		position: absolute;
		left: 21px;
		top: 25px;
		overflow: visible;
		width: 147px;
        line-height:75px; 
		text-align: center;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
        font-family: Roboto;
		color: rgba(255,255,255,1);
	}


/* task not completed --> empty circle */
	.check-no {
		overflow: visible;
		position: absolute;
		left: 870px;
		top: 21px;
        height: 195px;
        stroke:  #534BAE;
        stroke-width:4px;
        font-size: 60px;
        color: #534BAE;
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}


