	/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-tasks-screen {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* header wording of the current menu item*/
	#my-trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
    #current-menu-item {
        color: #1A237E;
    }

/* tab bar: information, checklist, tasks */
	#tabs {
		position: absolute;
		width: 1080px;
		height: 135px;
		left: 0px;
		top: 410px;
		overflow: visible;
	}
	#tab-bar {
		position: absolute;
		width: 1080px;
		height: 100px;
		left: 0px;
		top: 35px;
		background-color: rgba(255,255,255,1);
		border:  1px solid #D2D0D0;
		overflow: hidden;
	}
	#tab-selection {
		position: absolute;
		width: 360px;
		height: 8px;
		left: 720px;
		top: 126px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
	#information {
		position: absolute;
		left: 48px;
		top: 66px;
		overflow: visible;
		width: 266px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#packlist {
		position: absolute;
		left: 439px;
		top: 66px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#tasks {
		position: absolute;
		left: 859px;
		top: 66px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #FFA726;
	}

/* banner: brazil, date, progress bar*/
	#banner-trip-1 {
		position: absolute;
		width: 1080px;
		height: 180px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#trip-1 {
		position: absolute;
		width: 1080px;
		height: 220px;
		left: 0px;
		top: -2px;
		background-color: rgba(255,255,255,1);
		border: 0;
		overflow: hidden;
	}
    #Brazil {
		position: absolute;
		left: 70px;
		top: 18px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: white;
	}
	#trip-date {
		position: absolute;
		left: 870px;
		top: 30px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: white;
	}
	
/* general task css */
	.task-headline {
		position: absolute;
		left: 255px;
		top: 14px;
		overflow: visible;
		width: 416px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,0.871);
	}
	.task-description {
		position: absolute;
		left: 255px;
		top: 79px;
		overflow: hidden;
		width: 451px;
		height: 85px;
		line-height: 40px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.18px;
	}
	.rectangle-date {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
    .rectangle-date-check {
		position: absolute;
		width: 196px;
		height: 195px;
		left: 0px;
		top: 0px;
		background-color: #BCBCBC;
		border: 0;
		overflow: hidden;
	}
	.task-date {
		position: absolute;
		left: 20px;
		top: 25px;
        line-height:75px; 
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 70px;
		color: rgba(255,255,255,1);
	}

/* task not completed --> empty circle */
	.check-no {
		overflow: visible;
		position: absolute;
		left: 870px;
		top: 21px;
        height: 195px;
        stroke:  #534BAE;
        stroke-width:4px;
        font-size: 60px;
        color: #534BAE;
	}

/* task 1 */
	#task-list-1 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 70px;
		top: 694px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6;
	}

/* task 2 */
	#task-list-2 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 70px;
		top: 930px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6;
	}

/* task 3 */
	#task-list-3 {
		position: absolute;
		width: 960px;
		height: 195px;
		left: 70px;
		top: 1289px;
		overflow: visible;
        box-shadow: 5px 5px 15px #D8D6D6;
	}

/*  next week */
	#next-week {
		position: absolute;
		left: 70px;
		top: 600px;
		overflow: visible;
		width: 195px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}

/* september 2019 */
	#maerz-2020 {
		position: absolute;
		left: 80px;
		top: 1185px;
		overflow: visible;
		width: 300px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}

/* CSS popup window task */
	#popup-task-item {
		position: absolute;
        top: 300px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 1213px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        box-shadow: 10px 10px 15px grey;
        display: none;
        z-index: 2;
	}

/* description */
	#task-description {
		position: absolute;
		left: 63px;
		top: 373px;
		overflow: visible;
		width: 302px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
    #textfield-description {
        position: absolute;
        width: 635px;
        height: 80px;
        left: 63px;
        top: 445px;
        font-size: 35px;
        border:  1px solid rgba(112,112,112,1);
        border-width: 1px;
        padding-left: 15px;
        outline: none;
    }
/* date and deadline */
	#text-field-datetask {
		position: absolute;
		width: 301px;
		height: 83px;
		left: 63px;
		top: 666px;
		overflow: visible;
	}
	#dd-mm-yy {
		position: absolute;
		left: 62px;
		top: 17px;
		overflow: visible;
		width: 156px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
	}
    #calendar-popup {
        color: grey;
        font-size: 41.5px;
        margin-top: 20px;
        margin-left: 5px;
    }
	#deadline {
		position: absolute;
		left: 63px;
		top: 593px;
		overflow: visible;
		width: 158px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
	#text-field-timetask {
		position: absolute;
		width: 301px;
		height: 83px;
		left: 423px;
		top: 666px;
		overflow: visible;
	}
	.surface {
		opacity: 0.07;
		position: absolute;
		width: 301px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#hh-mm {
		position: absolute;
		left: 62px;
		top: 17px;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
	}
	 #time-popup {
        color: grey;
        font-size: 41.5px;
        margin-top: 20px;
        margin-left: 5px;
    }
/* task name */
	#task-name {
		position: absolute;
		left: 63px;
		top: 153px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
    #textfield-name {
        position: absolute;
        width: 635px;
        height: 80px;
        left: 63px;
        top: 225px;
        font-size: 35px;
        border:  1px solid rgba(112,112,112,1);
        border-width: 1px;
        padding-left: 15px;
        outline: none;
    }
/* assign task */
	#assign-to {
		position: absolute;
		left: 63px;
		top: 817px;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
    #textfield-asign-to {
        position: absolute;
        width: 635px;
        height: 80px;
        left: 63px;
        top: 890px;
        font-size: 35px;
        border:  1px solid rgba(112,112,112,1);
        border-width: 1px;
        padding-left: 15px;
        outline: none;
    }
/* delete task */
	#trash {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 550px;
		top: 44px;
		overflow: visible;
	}
	#rectangle {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0);
		border: 0;
		overflow: hidden;
	}
    #delete-icon {
        color: #1A237E;
        font-size: 50px;
        margin-top: 2px;
    }
	#delete-task {
		position: absolute;
		left: 602px;
		top: 53px;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: #1A237E;
	}
/* save task button */
	#save-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 470px;
		top: 1067px;
		overflow: visible;
	}
	#rectangle-save {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#save {
		position: absolute;
		left: 79px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
/* cancel button */
	#cancel-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 64px;
		top: 1067px;
		overflow: visible;
	}
	#rectangle-cancel {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(162,162,162,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#cancel {
		position: absolute;
		left: 52px;
		top: 17px;
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.38);
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}