/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-information-screen {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* header wording of the current menu item */
	#my-trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
    #current-menu-item {
        color: #1A237E;
    }

/* tab bar: information, checklist, tasks */
    #tabs {
		position: absolute;
		width: 1080px;
		height: 135px;
		left: 0px;
		top: 410px;
		overflow: visible;
	}	
    #tab-bar {
		position: absolute;
		width: 1099px;
		height: 100px;
		left: 0px;
		top: 35px;
		background-color: rgba(255,255,255,1);
		border:  1px solid #D2D0D0;
		overflow: hidden;
	}
	#tab-selection {
		position: absolute;
		width: 360px;
		height: 8px;
		left: 0px;
		top: 126px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
	#information {
		position: absolute;
		left: 48px;
		top: 66px;
		overflow: visible;
		width: 266px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #FFA726;
	}
	#packlist {
		position: absolute;
		left: 439px;
		top: 66px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#task {
		position: absolute;
		left: 859px;
		top: 66px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}

/* banner: brazil, date, bar */
	#trip-1 {
		position: absolute;
		width: 1080px;
		height: 220px;
		left: 0px;
		top: 228px;
		background-color: rgba(255,255,255,1);
		border: 0;
		overflow: hidden;
	}
	#Brazil {
		position: absolute;
		left: 70px;
		top: 248px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: #FFFFFF;
	}
	#date-trip {
		position: absolute;
		left: 870px;
		top: 260px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: #FFFFFF;
	}

/* visa requirements */
	#visa-text {
		position: absolute;
		left: 70px;
		top: 680px;
		overflow: hidden;
		width: 941px;
		height: 221px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
        white-space: 25px;
		font-weight: normal;
		font-size: 35px;
		color: black;
	}
	#visa-requirements {
		position: absolute;
		left: 70px;
		top: 610px;
		overflow: visible;
		width: 341px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	#more-info-1 {
		position: absolute;
		left: 70px;
		top: 860px;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #534BAE;
		text-decoration: underline;
	}
	#add-to-task-1 {
		position: absolute;
		left: 758px;
		top: 860px;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color:  #534BAE;
        text-decoration: underline;
	}

/* health advise */
	#health-text {
		position: absolute;
		left: 70px;
		top: 1090px;
		overflow: hidden;
		width: 941px;
		height: 221px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		white-space: 25px;
		font-weight: normal;
		font-size: 35px;
		color: black;
	}
	#health-advise {
		position: absolute;
		left: 70px;
		top: 1020px;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	#more-info-2 {
		position: absolute;
		left: 70px;
		top: 1270px;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #1A237E;
		text-decoration: underline;
	}
	#add-to-task-2 {
		position: absolute;
		left: 758px;
		top: 1270px;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #1A237E;
        text-decoration: underline;
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}