/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-information-2 {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1927px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* header wording current menu item*/
	#my-trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
/* current menu item is highlighted */
    #current-menu-item {
        color: #1A237E;
    }

/* header image, trip name and trip date */
	#header-image {
		position: absolute;
		width: 1080px;
		height: 339px;
		left: 0px;
		top: 227px;
		overflow: visible;
	}
    .country-img-1 {
        width: 1080px;
        height: 250px;
    }
	#brazil-header {
		position: absolute;
		left: 65px;
		top: 233px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#trip-date {
		position: absolute;
		left: 68px;
		top: 300px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}

/* content of the screen */
	#trip-overview {
		position: absolute;
		left: 70px;
		top: 530px;
		overflow: visible;
		width: 248px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(26,35,126,1);
	}
	#name {
		position: absolute;
		left: 70px;
		top: 650px;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#Brazil {
		position: absolute;
		left: 252px;
		top: 650px;
		overflow: visible;
		width: 100px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,0.871);
	}

     /* destination */
	#where-to {
		position: absolute;
		left: 70px;
		top: 764px;
		overflow: visible;
		width: 107px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#group-where-to {
		position: absolute;
		width: 688px;
		height: 83px;
		left: 252px;
		top: 764px;
		overflow: visible;
	}
	#text-field-from-destination {
		position: absolute;
		width: 345px;
		height: 83px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#surface-where {
		opacity: 0.07;
		position: absolute;
		width: 345px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#from {
		position: absolute;
		left: 13px;
		top: 17px;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
	#text-field-to-destination {
		position: absolute;
		width: 331px;
		height: 83px;
		left: 357px;
		top: 0px;
		overflow: visible;
	}
	#surface-to {
		opacity: 0.07;
		position: absolute;
		width: 331px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#to {
		position: absolute;
		left: 16px;
		top: 17px;
		overflow: visible;
		width: 40px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}

    /* dates */
	#trip-dates {
		position: absolute;
		left: 70px;
		top: 908px;
		overflow: visible;
		width: 89px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#group-date {
		position: absolute;
		width: 688px;
		height: 83px;
		left: 252px;
		top: 908px;
		overflow: visible;
	}
	#text-field-date-start {
		position: absolute;
		width: 345px;
		height: 83px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#surface-date-1 {
		opacity: 0.07;
		position: absolute;
		width: 315px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#dd-mm-yy {
		position: absolute;
		left: 18px;
		top: 17px;
		overflow: visible;
		width: 156px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
	#text-field-date-destination {
		position: absolute;
		width: 333px;
		height: 83px;
		left: 355px;
		top: 0px;
		overflow: visible;
	}
	#surface-date-2 {
		opacity: 0.07;
		position: absolute;
		width: 333px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#dd-mm-yy-I {
		position: absolute;
		left: 18px;
		top: 17px;
		overflow: visible;
		width: 156px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
    
    /* way of traveling */
	#how- {
		position: absolute;
		left: 77px;
		top: 1122px;
		overflow: visible;
		width: 78px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#surface-how {
		opacity: 0.07;
		position: absolute;
		width: 688px;
		height: 82px;
		left: 259px;
		top: 1106px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#plane {
		position: absolute;
		left: 275px;
		top: 1122px;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
	#from-A-to-B {
		position: absolute;
		left: 259px;
		top: 1062px;
		overflow: visible;
		width: 160px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
    
    /* type of trip */
	#type-of-trip {
		position: absolute;
		left: 77px;
		top: 1246px;
		overflow: visible;
		width: 115px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#surface-type {
		opacity: 0.07;
		position: absolute;
		width: 688px;
		height: 82px;
		left: 259px;
		top: 1252px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#city-trip {
		position: absolute;
		left: 275px;
		top: 1270px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}
    /* company */
	#company {
		position: absolute;
		left: 77px;
		top: 1410px;
		overflow: visible;
		width: 145px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(0,0,0,0.871);
	}
	#surface-company {
		opacity: 0.07;
		position: absolute;
		width: 688px;
		height: 82px;
		left: 259px;
		top: 1395px;
		background-color: rgba(83,75,174,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#Alone {
		position: absolute;
		left: 275px;
		top: 1410px;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.6);
		letter-spacing: 0.095px;
	}

/* edit icons */
	#icon-edit-name {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 650px;
		font-size: 40px;
        color: #534BAE;
	}
	#icon-edit-where {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 784px;
		font-size: 40px;
        color: #534BAE;
	}
	#icon-edit-date {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 928px;
        font-size: 40px;
        color: #534BAE;
	}
	#icon-edit-how {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 1122px;
		font-size: 40px;
        color: #534BAE;
	}
	#icon-edit-type {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 1269px;
		font-size: 40px;
        color: #534BAE;
	}
	#icon-edit-company {
		overflow: visible;
		position: absolute;
		left: 989px;
		top: 1410px;
		font-size: 40px;
        color: #534BAE;
	}
/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}