* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#My_Trips___Overview {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* current menu item is highlighted */
#current_menuItem {
    color:  #1A237E;
}

/* header wording of the current menu item*/
	#My_Trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
/*content of the current screen*/

    #carrousel{
        position: absolute;
        top: 1090px;
        z-index: 3
}
       #carrousel-2{
        position: absolute;
        top:390px;
        z-index: 3;
}
	#My_trips_carrousel2 {
		position: absolute;
		width: 1080px;
		height: 530px;
		left: 0px;
		top: 300px;
		overflow: visible;
	}
	#My_Trips_Carrousel {
		position: absolute;
		width: 1080px;
		height: 420px;
		left: 0px;
		top: 100px;
		overflow: visible;
	}
	.Rectangle_Carrousel {
		position: absolute;
		width: 1080px;
		height: 450px;
		background-color: #EBEDEE;
		border: 0;
		overflow: hidden;
	}
	#Past_Trips {
		position: absolute;
		left: 60px;
		top: 20px;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	
	#My_trips_carrousel1 {
		position: absolute;
		width: 1080px;
		height: 530px;
		left: 0px;
		top: 1000px;
		overflow: visible;
	}
	#My_Trips_Carrousel {
		position: absolute;
		width: 1080px;
		height: 433px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Upcoming_Trips {
		position: absolute;
		left: 60px;
		top: 20px;
		overflow: visible;
		width: 284px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	