/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-checklist-screen {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
/* header wording current menu item*/
	#my-trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
    #current-menu-item {
        color: #1A237E;
    }

/* tab bar: information, checklist, tasks */
	#tabs {
		position: absolute;
		width: 1080px;
		height: 135px;
		left: 0px;
		top: 410px;
		overflow: visible;
	}
	#tab-bar {
		position: absolute;
		width: 1099px;
		height: 100px;
		left: 0px;
		top: 35px;
		background-color: rgba(255,255,255,1);
		border:  1px solid #D2D0D0;
		overflow: hidden;
	}
	#tab-selection {
		position: absolute;
		width: 360px;
		height: 8px;
		left: 360px;
		top: 126px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
	#information {
		position: absolute;
		left: 48px;
		top: 66px;
		overflow: visible;
		width: 266px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#packlist {
		position: absolute;
		left: 439px;
		top: 66px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #FFA726;
	}
	#task {
		position: absolute;
		left: 859px;
		top: 66px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}

/* banner: brazil, date, progress bar */
	#banner-trip-1 {
		position: absolute;
		width: 1080px;
		height: 180px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#trip-1 {
		position: absolute;
		width: 1080px;
		height: 220px;
		left: 0px;
		top: -2px;
		background-color: rgba(255,255,255,1);
		border: 0;
		overflow: hidden;
	}
	#Brazil {
		position: absolute;
		left: 70px;
		top: 18px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: white;
	}
	#trip-date {
		position: absolute;
		left: 870px;
		top: 30px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: white;
	}

/* items of the checklist */
	#sunscreen {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 875px;
		overflow: visible;
	}
	.rectangle-items {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
        
	}
    .item-name {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
 
/* item of the Hiking Boots */
	#hiking-boots {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 1000px;
		overflow: visible;
	}

/* item of the towel */
    #towel {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 1125px;
		overflow: visible;
	}

/* item of the Shirts */
    #shirts {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 750px;
		overflow: visible;
	}

 /* item of the Pants */
	#pants {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 625px;
		overflow: visible;
	}

/* new item */
	.new-item {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 1250px;
		overflow: visible;
	}
    .new-item-name {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
    }

/* item not packed --> empty circle */
	.check-no {
		overflow: visible;
		position: absolute;
		left: 870px;
		top: 24px;
        height: 195px;
        font-size: 50px;
        color: #FFA726;
	}
/* item name is crossed out if you mark it as packed */
    .crossed_out {
    	opacity: 0.5;
        text-decoration: line-through;
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
    }

/* CSS popup window item */

	#popup-task-item {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 768px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 2;
	}
/* item name */
	#task-name {
		position: absolute;
		left: 63px;
		top: 153px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
    #textfield-name {
        position: absolute;
        width: 635px;
        height: 80px;
        left: 63px;
        top: 225px;
        font-size: 35px;
        color: rgba(112,112,112,1);
        border:  1px solid rgba(112,112,112,1);
        border-width: 1px;
        padding-left: 15px;
        outline: none;
    }
/* assign item */
	#assign-to {
		position: absolute;
		left: 63px;
		top: 373px;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
    #textfield-assign-to {
        position: absolute;
        width: 635px;
        height: 80px;
        left: 63px;
	   top: 445px;
        font-size: 35px;
        color: rgba(112,112,112,1);
        border:  1px solid rgba(112,112,112,1);
        border-width: 1px;
        padding-left: 15px;
        outline: none;
    }
/* delete item */
	#trash {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 550px;
		top: 44px;
		overflow: visible;
	}
	#rectangle {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0);
		border: 0;
		overflow: hidden;
	}
    #delete-icon {
        color: #1A237E;
        font-size: 50px;
        margin-top: 2px;
        
    }
	#delete-task {
		position: absolute;
		left: 602px;
		top: 53px;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: #1A237E;
	}
/* save item button */
	#save-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 470px;
		top: 622px;
		overflow: visible;
	}
	#rectangle-save {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#save {
		position: absolute;
		left: 79px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
/* cancel button */
	#cancel-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 64px;
		top: 622px;
		overflow: visible;
	}
	#rectangle-cancel {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(162,162,162,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#cancel {
		position: absolute;
		left: 52px;
		top: 17px;
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.38);
	}
