	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#My_Trips___Information {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
/* header wording of the current menu item */
	#My_Trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
#current_menuItem {
    color: #1A237E;
}

/* tab bar: information, checklist, tasks */
	#tab_bar {
		position: absolute;
		width: 1099px;
		height: 100px;
		left: 0px;
		top: 444px;
		background-color: rgba(255,255,255,1);
		border:  1px solid #D2D0D0;
		overflow: hidden;
	}
	#tab_selection {
		position: absolute;
		width: 360px;
		height: 8px;
		left: 0px;
		top: 535px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
	#INFORMATION {
		position: absolute;
		left: 48px;
		top: 475px;
		overflow: visible;
		width: 266px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #FFA726;
	}
	#CHECKLIST {
		position: absolute;
		left: 449px;
		top: 475px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#TASKS {
		position: absolute;
		left: 859px;
		top: 475px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
/* banner: brazil, date, progress bar */
	#Trip_1 {
		position: absolute;
		width: 1080px;
		height: 220px;
		left: 0px;
		top: 228px;
		background-color: rgba(255,255,255,1);
		border: 0;
		overflow: hidden;
	}
	#Status_1 {
		position: absolute;
		width: 718px;
		height: 24px;
		left: 70px;
		top: 367px;
		background-color: rgba(0,188,212,1);
		border:  1px solid rgba(112,112,112,1);
		overflow: hidden;
	}
	#ID80 {
		position: absolute;
		left: 980px;
		top: 354px;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
	#Brazil {
		position: absolute;
		left: 70px;
		top: 248px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: #FFFFFF;
	}
	#ID05_10_2020 {
		position: absolute;
		left: 870px;
		top: 260px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: #FFFFFF;
	}

/* visa requirements */
	#Visa_Text {
		position: absolute;
		left: 70px;
		top: 680px;
		overflow: hidden;
		width: 941px;
		height: 221px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
        white-space: 25px;
		font-weight: normal;
		font-size: 35px;
		color: black;
	}
	#Visa_Requirements {
		position: absolute;
		left: 70px;
		top: 610px;
		overflow: visible;
		width: 341px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	#More_Info1 {
		position: absolute;
		left: 70px;
		top: 860px;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #534BAE;
		text-decoration: underline;
	}
	#Add_to_Task1 {
		position: absolute;
		left: 758px;
		top: 860px;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color:  #534BAE;
        text-decoration: underline;
	}

/* health advise */
	#Health_Text {
		position: absolute;
		left: 70px;
		top: 1090px;
		overflow: hidden;
		width: 941px;
		height: 221px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		white-space: 25px;
		font-weight: normal;
		font-size: 35px;
		color: black;
	}
	#Health_Advise {
		position: absolute;
		left: 70px;
		top: 1020px;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
	#More_Info2 {
		position: absolute;
		left: 70px;
		top: 1270px;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #1A237E;
		text-decoration: underline;
	}
	#Add_to_Task2 {
		position: absolute;
		left: 758px;
		top: 1270px;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 33px;
		color: #1A237E;
        text-decoration: underline;
	}