/* general page css */
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#my-trips-overview-screen{
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}

/* current menu item is highlighted */
    #current-menu-item {
        color:  #1A237E;
}    

/* header wording of the current menu item*/
	#my-trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
/*content of the current screen*/
/* carousel 1 */
    #carrousel{
        position: absolute;
        top: 1090px;
        z-index: 3
}
       #carrousel-2{
        position: absolute;
        top:390px;
        z-index: 3;
}
	#my-trips-carrousel1 {
		position: absolute;
		width: 1080px;
		height: 530px;
		left: 0px;
		top: 300px;
		overflow: visible;
	}
	#my-trips-carrousel {
		position: absolute;
		width: 1080px;
		height: 420px;
		left: 0px;
		top: 100px;
		overflow: visible;
	}
	.rectangle-carrousel {
		position: absolute;
		width: 1080px;
		height: 450px;
		background-color: #EBEDEE;
		border: 0;
		overflow: hidden;
	}
	#past-trips {
		position: absolute;
		left: 60px;
		top: 20px;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}

/*carousel 2 */
	
	#my-trips-carrousel2 {

		position: absolute;
		width: 1080px;
		height: 530px;
		left: 0px;
		top: 1000px;
		overflow: visible;
	}
	#my-trips-carrousel {
		position: absolute;
		width: 1080px;
		height: 433px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#upcoming-trips {
		position: absolute;
		left: 60px;
		top: 20px;
		overflow: visible;
		width: 284px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #1A237E;
	}
.trip-name {
    overflow: visible;
    position: absolute;
    left: 35px;
    top: 10px;
    font-size: 50px;
    color: white;
    width:50px;
    height: 100px;
    z-index: 4;
}
.trip-date {
    overflow: visible;
    position: absolute;
    left: 35px;
    top: 69px;
    font-size: 30px;
    color: white;
    width:50px;
    height: 100px;
    z-index: 4;
}

/* edit trip */
	#icon-edit-div {
		overflow: visible;
		position: absolute;
		left: 701px;
		top: 10px;
        width: 50px;
        height: 100px;
        z-index: 4;
	}
#edit-icon {
    width: 65px;
    height: 65px;
}
#edit {
    overflow: visible;
    position: absolute;
	left: 705px;
    top: 65px;
    font-family: Roboto;
    font-weight: bold;
	font-size: 28px;
    color: #FFFFFF;
}


/* CSS popup window profile */

	#profile-popup {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 450px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 6;
	}
/* popup text */
	#profile-popup-text {
		position: absolute;
        left: 53px;
        top: 40px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		font-family: Roboto;
		font-style: normal;
		font-size: 40px;
		color: rgba(112,112,112,1);
        line-height: 55px;
	}
#construction {
    padding-left: -400px;
    
}
#check-back-soon {
    padding-left: 111px;
    
}
#build {
    font-size: 50px;
    padding-left: 294px;
    padding-bottom: 28px;
}

/* ok button profile popup */
	#ok-button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 258px;
		top: 315px;
		overflow: visible;
	}
	#rectangle-ok {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#ok {
		position: absolute;
		left: 102px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}