* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#My_Trips___Checklist {
		position: absolute;
		background: #E5E5E5;
		width: 1080px;
		height: 1729px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
/* header wording current menu item*/
	#My_Trips {
		position: absolute;
		left: 70px;
		top: 104px;
		overflow: visible;
		width: 247px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}

/* current menu item is highlighted */
#current_menuItem {
    color: #1A237E;
}

/* tab bar: information, checklist, tasks */
	#Tabs {
		position: absolute;
		width: 1080px;
		height: 135px;
		left: 0px;
		top: 410px;
		overflow: visible;
	}
	#tab_bar {
		position: absolute;
		width: 1099px;
		height: 100px;
		left: 0px;
		top: 35px;
		background-color: rgba(255,255,255,1);
		border:  1px solid #D2D0D0;
		overflow: hidden;
	}
	#tab_selection {
		position: absolute;
		width: 360px;
		height: 8px;
		left: 360px;
		top: 126px;
		background-color: #FFA726;
		border: 0;
		overflow: hidden;
	}
	#INFORMATION {
		position: absolute;
		left: 48px;
		top: 66px;
		overflow: visible;
		width: 266px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}
	#CHECKLIST {
		position: absolute;
		left: 439px;
		top: 66px;
		overflow: visible;
		width: 211px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: #FFA726;
	}
	#TASKS {
		position: absolute;
		left: 840px;
		top: 66px;
		overflow: visible;
		width: 123px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: #D2D0D0;
	}

/* banner: brazil, date, progress bar */
	#Banner_Trip1 {
		position: absolute;
		width: 1080px;
		height: 180px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#Trip_1 {
		position: absolute;
		width: 1080px;
		height: 220px;
		left: 0px;
		top: -2px;
		background-color: rgba(255,255,255,1);
		border: 0;
		overflow: hidden;
	}
	#Progress_bar {
		position: absolute;
		width: 1080px;
		height: 64px;
		left: 0px;
		top: 116px;
		background-color: rgba(162,162,162,1);
		border:  1px solid rgba(112,112,112,1);
		overflow: hidden;
	}
	#Status_bar {
		position: absolute;
		width: 893px;
		height: 24px;
		left: 70px;
		top: 137px;
		background-color: rgba(255,255,255,1);
		border:  1px solid rgba(112,112,112,1);
		overflow: hidden;
	}
	#Status_1 {
		position: absolute;
		width: 718px;
		height: 24px;
		left: 70px;
		top: 137px;
		background-color: rgba(0,188,212,1);
		border:  1px solid rgba(112,112,112,1);
		overflow: hidden;
	}
	#ID80 {
		position: absolute;
		left: 980px;
		top: 125px;
		overflow: visible;
		width: 39px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
	#Brazil {
		position: absolute;
		left: 70px;
		top: 18px;
		overflow: hidden;
		width: 153px;
		height: 66px;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: white;
	}
	#ID05_10_2020 {
		position: absolute;
		left: 870px;
		top: 30px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: white;
	}

/* items of the checklist */
	#Sunscreen {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 875px;
		overflow: visible;
	}
	#Rectangle_Sunscreen {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
        
	}
	#ID_Sunscreen {
		opacity: 0.5;
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
    #check_circle {
    	position: absolute;
		left: 866px;
		top: 20px;
		overflow: hidden;
    }
    #check_icon {
    color: #FFA726;
    font-size: 58px;
    opacity: 50%;
    }
    /* items of the Hiking Boots */
	#Hiking_Boots {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 1000px;
		overflow: visible;
	}
	#Rectangle_hiking {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
	}
	#ID10_hiking {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
 .check_no {
		overflow: visible;
		position: absolute;
		left: 877px;
		top: 21px;
        stroke: #FFA726;
        stroke-width:4px;
}
    /* items of the Flipflops */
#Towel {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 1125px;
		overflow: visible;
	}
	#Rectangle_towel {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
	}
	#ID10_towel {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
 .check_no {
		overflow: visible;
		position: absolute;
		left: 877p125x;
		top: 21px;
        stroke: #FFA726;
        stroke-width:4px;
}	
	 /* items of the Shirta */
    #Shirts {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 750px;
		overflow: visible;
	}
	#Rectangle_Shirts {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
	}
	#ID10_Shirts {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 162px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
 .check_no {
		overflow: visible;
		position: absolute;
		left: 877px;
		top: 21px;
        stroke: #FFA726;
        stroke-width:4px;
	}
 /* items of the Pants */
	#Pants {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 65px;
		top: 625px;
		overflow: visible;
	}
	#Rectangle_Pants {
		position: absolute;
		width: 950px;
		height: 96px;
		left: 0px;
		top: 0px;
		background-color: rgba(255,255,255,1);
		border:  none;
		overflow: hidden;
        box-shadow: 5px 5px 15px #D8D6D6;
	}
	#ID_Pants {
		position: absolute;
		left: 29px;
		top: 22px;
		overflow: visible;
		width: 104px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: black;
	}
	.Icon_material_radio_button_unc {
		overflow: visible;
		position: absolute;
		width: 45px;
		height: 45px;
		left: 880px;
		top: 26.14px;
		transform: matrix(1,0,0,1,0,0);
	}

/* CSS popup window task */

	#Popup_Task_Item {
		position: absolute;
        top: 460px;
        left: 146px;
		background: #E5E5E5;
		width: 789px;
		height: 768px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #1A237E;
        display: none;
        box-shadow: 10px 10px 15px grey;
        z-index: 2;
	}

	#Task_Name {
		position: absolute;
		left: 63px;
		top: 153px;
		overflow: visible;
		width: 202px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}

#textfield_name {
    position: absolute;
    width: 635px;
    height: 80px;
    left: 63px;
    top: 225px;
    font-size: 35px;
    color: rgba(112,112,112,1);
    border:  1px solid rgba(112,112,112,1);
    border-width: 1px;
    padding-left: 15px;
    outline: none;
}
	#Assign_to {
		position: absolute;
		left: 63px;
		top: 373px;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(112,112,112,1);
	}
#textfield_assignTo {
    position: absolute;
    width: 635px;
    height: 80px;
    left: 63px;
	top: 445px;
    font-size: 35px;
    color: rgba(112,112,112,1);
    border:  1px solid rgba(112,112,112,1);
    border-width: 1px;
    padding-left: 15px;
    outline: none;
}
	#trash {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 550px;
		top: 44px;
		overflow: visible;
	}
	#rectangle {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 0px;
		top: 0px;
		background-color: rgba(0,0,0,0);
		border: 0;
		overflow: hidden;
	}
    #delete_icon {
        color: #1A237E;
        font-size: 50px;
        margin-top: 2px;
        
    }
	#Delete_Task {
		position: absolute;
		left: 602px;
		top: 53px;
		overflow: visible;
		width: 126px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 28px;
		color: #1A237E;
	}
	#Save_Button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 470px;
		top: 622px;
		overflow: visible;
	}
	#Rectangle_Save {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: #1A237E;
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#SAVE {
		position: absolute;
		left: 79px;
		top: 17px;
		overflow: visible;
		width: 96px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(255,255,255,1);
	}
	#Cancel_Button {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 64px;
		top: 622px;
		overflow: visible;
	}
	#Rectangle_Cancel {
		position: absolute;
		width: 255px;
		height: 83px;
		left: 0px;
		top: 0px;
		background-color: rgba(162,162,162,1);
		border-radius: 4px 4px 4px 4px;
		border: 0;
		overflow: hidden;
	}
	#CANCEL {
		position: absolute;
		left: 52px;
		top: 17px;
		overflow: visible;
		width: 149px;
		white-space: nowrap;
		text-align: left;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		color: rgba(0,0,0,0.38);
	}
